<mat-toolbar class="header-bar">
  <button mat-button class="toggleSidenav">
    <mat-icon color="primary">menu</mat-icon>
  </button>
  <a class="main-logo" [routerLink]="'/'">
    <mat-icon color="primary">adjust</mat-icon>
    <span class="app-title">SANGEET</span>
  </a>
  <span class="spacer"></span>
  <mat-slide-toggle
    class="toggleTheme"
    (change)="toggleTheme()"
    color="primary"></mat-slide-toggle>
  <button
    class="create-playlist"
    mat-button
    color="primary">
    <mat-icon class="primary">playlist_add</mat-icon> Add playlist
  </button>
  <button mat-button color="primary"
    [routerLink]="'./user/login'">
    <mat-icon class="action_icon">person</mat-icon>Login
  </button>
  <a class="user_image">
    <img >
  </a>
  <button mat-button class="action-button">
    <mat-icon class="action_icon" color="primary">exit_to_app</mat-icon>
  </button>
</mat-toolbar>
