<mat-toolbar class="header-bar">
  <button class="toggleSidenav" (click)="toggleSidenav()"><mat-icon color="primary">menu</mat-icon></button>
  <a class="main-logo" [routerLink]="'/'"><mat-icon color="primary">adjust</mat-icon><span class="app-title"> {{title}}</span></a>
  <span class="spacer"></span>
  <mat-slide-toggle class="toggleTheme" color="primary" (change)="toggleTheme()"></mat-slide-toggle>
  <button class="create-playlist" *ngIf="user.authenticated" mat-button color="primary" (click)="createPlaylist()"><mat-icon class="primary">playlist_add</mat-icon> Add playlist</button>
  <button mat-button color="primary" *ngIf="!user.authenticated" [routerLink]="'./user/login'">
    <mat-icon class="action_icon">person</mat-icon>Login
  </button>
  <a *ngIf="user.authenticated" class="user_image">
    <img [src]="user.user_image" [alt]="user.username" />
  </a>
  <button class="action-button" (click)="logout()" *ngIf="user.authenticated"><mat-icon class="action_icon" color="accent">exit_to_app</mat-icon></button>
</mat-toolbar>
