<div class="wrapper" [ngClass]="{ 'sangeet-dark-theme': darkTheme }">
  <app-header  (onToggleTheme)="toggleTheme()"></app-header>
  <mat-sidenav-container class="main-app"
    [ngClass]="{ 'player-collapsed': true}">
    <mat-sidenav #sidenav class="sidenav"  mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-player-controller></app-player-controller>
  </mat-sidenav-container>
</div>
