@import "./../styles/settings/breakpoints.scss";

:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    height: 100%;
}

.main-app {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: flex;
    padding-bottom: 80px;
    height: 100%;
    &.player-collapsed {
        padding-bottom: 55px;
        @include breakpoint($narrow-devices) {
            padding-bottom: 80px;
        }
    }
}
.sidenav {
    box-shadow: 10px 0 40px -4px rgba(0,0,0,.3);
}
.sidenav.mat-sidenav.mat-sidenav-side {
    z-index: 2;
    height: calc(100% - 80px);
}

.main-content {
    padding: 1rem;
    padding: {
        bottom: 4rem;
    }
    @include breakpoint($narrow-devices) {
        padding: 2rem;
        padding: {
            bottom: 100px;
        }
    }
}
