<div class="wrapper" [ngClass]="{'zondimo-dark-theme': darkTheme}">
  <app-header *ngIf="!singlePage" [user]="user | async" [title]="title" (onToggleSidenav)="toggleSidenav()" (onLogout)="logout()"
    (oncreatePlaylist)="createPlaylist()" (onToggleTheme)="toggleTheme()"></app-header>
  <mat-sidenav-container class="main-app" [ngClass]="{'player-collapsed': playerCollapsed}">
    <mat-sidenav #sidenav [mode]="navMode" class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-player-controller *ngIf="!singlePage" (onTogglePlayer)="playerCollapseToggle($event)"></app-player-controller>
  </mat-sidenav-container>
</div>