.user-image {
    position: relative;
    overflow: hidden;
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;
    margin-top: -24px;
    img {
        margin: 0;
    }
    &:before {
        content: "";
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .user-value {
        position: absolute;
        bottom: 20PX;
        left: 40px;
        width: 100%;
        display: block;
        color: white;
        font-size: 1.5rem;
        span {
            font-size: 3rem;
        }
    }
}

.user-content {
    padding: {
        top: 20px;
        bottom: 20px;
    }
}
